.row {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}
.form-label {
  color: aliceblue;
}
.container p {
  color: rgb(240, 240, 248);
  font-size: 22px;
  text-align: center;
}

.icon {
  color: rgb(3, 3, 3);
}
.button-icon {
  display: flex;
  justify-content: center;
}
