/* .container {

  width: 100%;
} */
.row {
  width: 100%;
  
  display: flex;
  
  align-items: center;
  justify-content: center;
 
  /* text-align: center; */
}
.form-label {
  color: aliceblue;
}
.container p {
  color: rgb(240, 240, 248);
  text-align: center;
  font-size: 22px;
}

.icon {
  color: rgb(3, 3, 3);
}
.button-icon {
  display: flex;
  justify-content: center;
}
