<div class="container">
  <p>Agregar pelicula</p>
  <div class="row">
    <div class="col-sm-6">
      <form class="form-inline">
        <div class="mb-3">
          <label class="form-label">Nombre de Pelicula</label>
          <input
            [(ngModel)]="movie.mov_title"
            class="form-control"
            name="title"
            type="text"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Año</label>
          <input
            [(ngModel)]="movie.mov_year"
            class="form-control"
            name="year"
            type="number"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Duracion</label>
          <input
            [(ngModel)]="movie.mov_time"
            class="form-control"
            name="time"
            type="number"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Lenguaje</label>
          <input
            [(ngModel)]="movie.mov_lang"
            class="form-control"
            name="lang"
            type="text"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Fecha</label>
          <input
            [(ngModel)]="movie.mov_dt_rel"
            class="form-control"
            name="dt"
            type="date"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Pais</label>
          <input
            [(ngModel)]="movie.mov_rel_country"
            class="form-control"
            name="country"
            type="text"
          />
        </div>
        <div class="button-icon">
          <button (click)="agregar()" class="btn btn-secondary">
            <div class="icon">
              <i class="fas fa-save"></i>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
